:root {
  /* Material Design 3 color schemes */
  --md-sys-source: #009688;
  
  --md-sys-primary: light-dark(#006a60, #53dbc9);
  --md-sys-primary-rgb: light-dark(rgb(0, 106, 96), rgb(83, 219, 201));
  --md-sys-on-primary: light-dark(#ffffff, #003731);
  --md-sys-on-primary-rgb: light-dark(rgb(255, 255, 255), rgb(0, 55, 49));
  --md-sys-primary-container: light-dark(#74f8e5, #005048);
  --md-sys-primary-container-rgb: light-dark(rgb(116, 248, 229), rgb(0, 80, 72));
  --md-sys-on-primary-container: light-dark(#00201c, #74f8e5);
  --md-sys-on-primary-container-rgb: light-dark(rgb(0, 32, 28), rgb(116, 248, 229));
  --md-sys-secondary: light-dark(#4a635f, #b1ccc6);
  --md-sys-secondary-rgb: light-dark(rgb(74, 99, 95), rgb(177, 204, 198));
  --md-sys-on-secondary: light-dark(#ffffff, #1c3531);
  --md-sys-on-secondary-rgb: light-dark(rgb(255, 255, 255), rgb(28, 53, 49));
  --md-sys-secondary-container: light-dark(#cce8e2, #334b47);
  --md-sys-secondary-container-rgb: light-dark(rgb(204, 232, 226), rgb(51, 75, 71));
  --md-sys-on-secondary-container: light-dark(#05201c, #cce8e2);
  --md-sys-on-secondary-container-rgb: light-dark(rgb(5, 32, 28), rgb(204, 232, 226));
  --md-sys-tertiary: light-dark(#456179, #adcae6);
  --md-sys-tertiary-rgb: light-dark(rgb(69, 97, 121), rgb(173, 202, 230));
  --md-sys-on-tertiary: light-dark(#ffffff, #153349);
  --md-sys-on-tertiary-rgb: light-dark(rgb(255, 255, 255), rgb(21, 51, 73));
  --md-sys-tertiary-container: light-dark(#cce5ff, #2d4961);
  --md-sys-tertiary-container-rgb: light-dark(rgb(204, 229, 255), rgb(45, 73, 97));
  --md-sys-on-tertiary-container: light-dark(#001e31, #cce5ff);
  --md-sys-on-tertiary-container-rgb: light-dark(rgb(0, 30, 49), rgb(204, 229, 255));
  --md-sys-error: light-dark(#ba1a1a, #ffb4ab);
  --md-sys-error-rgb: light-dark(rgb(186, 26, 26), rgb(255, 180, 171));
  --md-sys-on-error: light-dark(#ffffff, #690005);
  --md-sys-on-error-rgb: light-dark(rgb(255, 255, 255), rgb(105, 0, 5));
  --md-sys-error-container: light-dark(#ffdad6, #93000a);
  --md-sys-error-container-rgb: light-dark(rgb(255, 218, 214), rgb(147, 0, 10));
  --md-sys-on-error-container: light-dark(#410002, #ffb4ab);
  --md-sys-on-error-container-rgb: light-dark(rgb(65, 0, 2), rgb(255, 180, 171));
  --md-sys-background: light-dark(#fafdfb, #191c1b);
  --md-sys-background-rgb: light-dark(rgb(250, 253, 251), rgb(25, 28, 27));
  --md-sys-on-background: light-dark(#191c1b, #e0e3e1);
  --md-sys-on-background-rgb: light-dark(rgb(25, 28, 27), rgb(224, 227, 225));
  --md-sys-surface: light-dark(#fafdfb, #191c1b);
  --md-sys-surface-rgb: light-dark(rgb(250, 253, 251), rgb(25, 28, 27));
  --md-sys-on-surface: light-dark(#191c1b, #e0e3e1);
  --md-sys-on-surface-rgb: light-dark(rgb(25, 28, 27), rgb(224, 227, 225));
  --md-sys-surface-variant: light-dark(#dae5e1, #3f4947);
  --md-sys-surface-variant-rgb: light-dark(rgb(218, 229, 225), rgb(63, 73, 71));
  --md-sys-on-surface-variant: light-dark(#3f4947, #bec9c6);
  --md-sys-on-surface-variant-rgb: light-dark(rgb(63, 73, 71), rgb(190, 201, 198));
  --md-sys-outline: light-dark(#6f7977, #899390);
  --md-sys-outline-rgb: light-dark(rgb(111, 121, 119), rgb(137, 147, 144));
  --md-sys-outline-variant: light-dark(#bec9c6, #3f4947);
  --md-sys-outline-variant-rgb: light-dark(rgb(190, 201, 198), rgb(63, 73, 71));
  --md-sys-shadow: light-dark(#000000, #000000);
  --md-sys-shadow-rgb: light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  --md-sys-scrim: light-dark(#000000, #000000);
  --md-sys-scrim-rgb: light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  --md-sys-inverse-surface: light-dark(#2d3130, #e0e3e1);
  --md-sys-inverse-surface-rgb: light-dark(rgb(45, 49, 48), rgb(224, 227, 225));
  --md-sys-inverse-on-surface: light-dark(#eff1ef, #2d3130);
  --md-sys-inverse-on-surface-rgb: light-dark(rgb(239, 241, 239), rgb(45, 49, 48));
  --md-sys-inverse-primary: light-dark(#53dbc9, #006a60);
  --md-sys-inverse-primary-rgb: light-dark(rgb(83, 219, 201), rgb(0, 106, 96));
  --md-sys-surface-container-lowest: light-dark(#ffffff, #0b0f0e);
  --md-sys-surface-container-lowest-rgb: light-dark(rgb(255, 255, 255), rgb(11, 15, 14));
  --md-sys-surface-container-low: light-dark(#f2f4f2, #191c1b);
  --md-sys-surface-container-low-rgb: light-dark(rgb(242, 244, 242), rgb(25, 28, 27));
  --md-sys-surface-container: light-dark(#eceeec, #1d201f);
  --md-sys-surface-container-rgb: light-dark(rgb(236, 238, 236), rgb(29, 32, 31));
  --md-sys-surface-container-high: light-dark(#e6e9e7, #272b2a);
  --md-sys-surface-container-high-rgb: light-dark(rgb(230, 233, 231), rgb(39, 43, 42));
  --md-sys-surface-container-highest: light-dark(#e0e3e1, #323534);
  --md-sys-surface-container-highest-rgb: light-dark(rgb(224, 227, 225), rgb(50, 53, 52));
  
  /* Custom color "success" */
  --md-custom-success-color: light-dark(#006d3d, #00e385);
  --md-custom-success-color-rgb: light-dark(rgb(0, 109, 61), rgb(0, 227, 133));
  --md-custom-success-on-color: light-dark(#ffffff, #00391d);
  --md-custom-success-on-color-rgb: light-dark(rgb(255, 255, 255), rgb(0, 57, 29));
  --md-custom-success-color-container: light-dark(#5affa2, #00522c);
  --md-custom-success-color-container-rgb: light-dark(rgb(90, 255, 162), rgb(0, 82, 44));
  --md-custom-success-on-color-container: light-dark(#00210f, #5affa2);
  --md-custom-success-on-color-container-rgb: light-dark(rgb(0, 33, 15), rgb(90, 255, 162));
  
  /* Custom color "warning" */
  --md-custom-warning-color: light-dark(#4d6706, #b2d26b);
  --md-custom-warning-color-rgb: light-dark(rgb(77, 103, 6), rgb(178, 210, 107));
  --md-custom-warning-on-color: light-dark(#ffffff, #263500);
  --md-custom-warning-on-color-rgb: light-dark(rgb(255, 255, 255), rgb(38, 53, 0));
  --md-custom-warning-color-container: light-dark(#ceef84, #394e00);
  --md-custom-warning-color-container-rgb: light-dark(rgb(206, 239, 132), rgb(57, 78, 0));
  --md-custom-warning-on-color-container: light-dark(#151f00, #ceef84);
  --md-custom-warning-on-color-container-rgb: light-dark(rgb(21, 31, 0), rgb(206, 239, 132));
  
  /* Palette tone references */
  
  --md-ref-palette-primary100: #ffffff;
  --md-ref-palette-primary99: #f2fffb;
  --md-ref-palette-primary95: #b4fff2;
  --md-ref-palette-primary90: #74f8e5;
  --md-ref-palette-primary85: #64e9d7;
  --md-ref-palette-primary80: #53dbc9;
  --md-ref-palette-primary75: #41cdbc;
  --md-ref-palette-primary70: #2cbfae;
  --md-ref-palette-primary65: #08b1a1;
  --md-ref-palette-primary60: #00a293;
  --md-ref-palette-primary55: #009486;
  --md-ref-palette-primary50: #008679;
  --md-ref-palette-primary45: #00786d;
  --md-ref-palette-primary40: #006a60;
  --md-ref-palette-primary35: #005d54;
  --md-ref-palette-primary30: #005048;
  --md-ref-palette-primary25: #00443d;
  --md-ref-palette-primary20: #003731;
  --md-ref-palette-primary15: #002c27;
  --md-ref-palette-primary10: #00201c;
  --md-ref-palette-primary5: #001411;
  --md-ref-palette-primary0: #000000;
  
  --md-ref-palette-secondary100: #ffffff;
  --md-ref-palette-secondary99: #f2fffb;
  --md-ref-palette-secondary95: #daf7f0;
  --md-ref-palette-secondary90: #cce8e2;
  --md-ref-palette-secondary85: #bedad4;
  --md-ref-palette-secondary80: #b1ccc6;
  --md-ref-palette-secondary75: #a3beb9;
  --md-ref-palette-secondary70: #96b1ab;
  --md-ref-palette-secondary65: #89a39e;
  --md-ref-palette-secondary60: #7c9691;
  --md-ref-palette-secondary55: #6f8984;
  --md-ref-palette-secondary50: #627c77;
  --md-ref-palette-secondary45: #56706b;
  --md-ref-palette-secondary40: #4a635f;
  --md-ref-palette-secondary35: #3e5753;
  --md-ref-palette-secondary30: #334b47;
  --md-ref-palette-secondary25: #27403c;
  --md-ref-palette-secondary20: #1c3531;
  --md-ref-palette-secondary15: #112a26;
  --md-ref-palette-secondary10: #05201c;
  --md-ref-palette-secondary5: #001411;
  --md-ref-palette-secondary0: #000000;
  
  --md-ref-palette-tertiary100: #ffffff;
  --md-ref-palette-tertiary99: #fcfcff;
  --md-ref-palette-tertiary95: #e7f2ff;
  --md-ref-palette-tertiary90: #cce5ff;
  --md-ref-palette-tertiary85: #bbd8f4;
  --md-ref-palette-tertiary80: #adcae6;
  --md-ref-palette-tertiary75: #9fbcd7;
  --md-ref-palette-tertiary70: #92aec9;
  --md-ref-palette-tertiary65: #85a1bc;
  --md-ref-palette-tertiary60: #7894ae;
  --md-ref-palette-tertiary55: #6b87a0;
  --md-ref-palette-tertiary50: #5e7a93;
  --md-ref-palette-tertiary45: #526d86;
  --md-ref-palette-tertiary40: #456179;
  --md-ref-palette-tertiary35: #39556d;
  --md-ref-palette-tertiary30: #2d4961;
  --md-ref-palette-tertiary25: #213e55;
  --md-ref-palette-tertiary20: #153349;
  --md-ref-palette-tertiary15: #07283e;
  --md-ref-palette-tertiary10: #001e31;
  --md-ref-palette-tertiary5: #001221;
  --md-ref-palette-tertiary0: #000000;
  
  --md-ref-palette-neutral100: #ffffff;
  --md-ref-palette-neutral99: #fafdfb;
  --md-ref-palette-neutral95: #eff1ef;
  --md-ref-palette-neutral90: #e0e3e1;
  --md-ref-palette-neutral85: #d2d5d3;
  --md-ref-palette-neutral80: #c4c7c5;
  --md-ref-palette-neutral75: #b6b9b8;
  --md-ref-palette-neutral70: #a9acaa;
  --md-ref-palette-neutral65: #9b9e9d;
  --md-ref-palette-neutral60: #8e9190;
  --md-ref-palette-neutral55: #818483;
  --md-ref-palette-neutral50: #747876;
  --md-ref-palette-neutral45: #686b6a;
  --md-ref-palette-neutral40: #5c5f5e;
  --md-ref-palette-neutral35: #505352;
  --md-ref-palette-neutral30: #444746;
  --md-ref-palette-neutral25: #383c3b;
  --md-ref-palette-neutral20: #2d3130;
  --md-ref-palette-neutral15: #232626;
  --md-ref-palette-neutral10: #191c1b;
  --md-ref-palette-neutral5: #0e1211;
  --md-ref-palette-neutral0: #000000;
  
  --md-ref-palette-neutral-variant100: #ffffff;
  --md-ref-palette-neutral-variant99: #f4fffb;
  --md-ref-palette-neutral-variant95: #e9f3f0;
  --md-ref-palette-neutral-variant90: #dae5e1;
  --md-ref-palette-neutral-variant85: #ccd7d3;
  --md-ref-palette-neutral-variant80: #bec9c6;
  --md-ref-palette-neutral-variant75: #b1bbb8;
  --md-ref-palette-neutral-variant70: #a3adaa;
  --md-ref-palette-neutral-variant65: #96a09d;
  --md-ref-palette-neutral-variant60: #899390;
  --md-ref-palette-neutral-variant55: #7c8683;
  --md-ref-palette-neutral-variant50: #6f7977;
  --md-ref-palette-neutral-variant45: #636d6a;
  --md-ref-palette-neutral-variant40: #56605e;
  --md-ref-palette-neutral-variant35: #4b5452;
  --md-ref-palette-neutral-variant30: #3f4947;
  --md-ref-palette-neutral-variant25: #343d3b;
  --md-ref-palette-neutral-variant20: #293230;
  --md-ref-palette-neutral-variant15: #1e2826;
  --md-ref-palette-neutral-variant10: #141d1c;
  --md-ref-palette-neutral-variant5: #091311;
  --md-ref-palette-neutral-variant0: #000000;
  
  --md-ref-palette-error100: #ffffff;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error85: #ffc7c0;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error75: #ff9f94;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error65: #ff7164;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error55: #f0443b;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error45: #cc2925;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error15: #540003;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error0: #000000;
}
